.gallery {
  @extend %container-wrapper;
}

.gallery__inner {
  overflow: auto;

  .js & {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background-color: transparent;
    }
  }
}

.gallery__photo {
  img {
    display: block;
    width: 949px;
    max-width: none;

    @media (min-width: 750px) {
      width: 1582px;
    }

    @media (min-width: 1170px) {
      width: 1920px;
    }
  }

  @media (max-width: 1919px) {
    .js & {
      cursor: move;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }
}
