.gallery {
  @extend %container-wrapper;
}

.gallery__inner {
  .no-js & {
    overflow: auto;
  }

  .js & {
    overflow: hidden;
  }
}

.gallery__photo {
  img {
    display: block;
    width: 949px;
    max-width: none;

    @media (min-width: 750px) {
      width: 1582px;
    }

    @media (min-width: 1170px) {
      width: 1920px;
    }
  }
}
