.map {
  @extend %container-wrapper;
  position: relative;

  @media (max-width: 749px) {
    overflow: hidden;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 453px;
    background: url("../img/map_border-mobile.png") top no-repeat;
    pointer-events: none;

    @media (min-width: 750px) {
      height: 659px;
      background-image: url("../img/map_border-tablet.png");
    }

    @media (min-width: 1170px) {
      height: 660px;
      background-image: url("../img/map_border-desktop.png");
    }
  }
}

.map__title {
  @extend %title;
  margin-bottom: 23px;

  @media (max-width: 749px) {
    padding-top: 8px;
  }

  @media (min-width: 750px) {
    margin-bottom: 63px;

    @media (max-width: 1169px) {
      &::before {
        top: -29px;
      }
    }
  }

  @media (min-width: 1170px) {
    margin-bottom: 74px;
  }
}

.map__inner {
  height: 428px;

  .no-js & {
    overflow: auto;
  }

  .js & {
    overflow: hidden;
  }

  @media (min-width: 750px) {
    height: 605px;

    @media (max-width: 1169px) {
      max-width: 765px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media (min-width: 1170px) {
    height: 606px;
  }
}

.map__image {
  position: relative;
  width: 1920px;

  img {
    display: block;
    width: 1920px;
    max-width: none;
  }
}

.map__markers {
  @extend %list-reset;
}

.map__marker {
  position: absolute;
  width: 11px;
  height: 11px;
  background: content-box $colorPrimary;
  border: 5px solid rgba($colorPrimary, 0.1);
  border-radius: 50%;
}
