.page {
  min-width: 320px;
  margin: 0;
  font: #{$fontSizeText}/#{$lineHeightText} $fontFamilyText;
  color: $colorText;
  background-color: $colorWhite;
}

.page__header {
  position: relative;
  z-index: 1;
  margin-bottom: 7px;

  @media (min-width: 750px) {
    margin-bottom: 30px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 106px;
  }
}

.page__hero {
  margin-bottom: 16px;

  @media (min-width: 750px) {
    margin-bottom: 61px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 72px;
  }
}

.page__features {
  margin-bottom: 21px;

  @media (min-width: 750px) {
    margin-bottom: 66px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 123px;
  }
}

.page__benefits {
  margin-bottom: 23px;

  @media (min-width: 750px) {
    margin-bottom: 72px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 144px;
  }
}

.page__knowledge {
  margin-bottom: 56px;

  @media (min-width: 1170px) {
    margin-bottom: 130px;
  }
}

.page__call-to-action {
  margin-bottom: 42px;

  @media (min-width: 750px) {
    margin-bottom: 76px;
  }

  @media (min-width: 1170px) {
    margin-bottom: 151px;
  }
}
