%container-wrapper {
  min-width: 320px;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

%container-inner {
  box-sizing: border-box;
  width: 320px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 750px) {
    width: auto;
    max-width: 750px;
  }

  @media (min-width: 1170px) {
    max-width: 1170px;
  }
}

%list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
